<div class="alert alert-light" style="margin-top: 30px; margin-left: 30px" role="alert">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-sm-offset-1 col-md-offset-2" style="margin-left: 110px;">
    <h4 style="color: black">Deal Accrual Selection</h4>
  </div>
</div>
  <div class="alert alert-light cont" style="margin-top: 30px;" role="alert">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-sm-offset-1 col-md-offset-2">
    <div class="container set panel panel-default">
      <form [formGroup]="searchForm" (ngSubmit)="onEdit()">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-inline">
              <label class="col-sm-2 col-lg-2 col-form-label" for="id">Id:</label>
              <!--<input-->
                <!--type="text"-->
                <!--id="id"-->
                <!--formControlName="id"-->
                <!--class="col-sm-2 col-lg-10 form-control"-->
              <!--&gt;-->
              <p-chips  formControlName="id" id="id" class="col-sm-2 col-lg-10" name="id"></p-chips>
            </div>
            <div class="form-inline">
              <label class="col-sm-2 col-lg-2 col-form-label" for="age"></label>
                <p-dropdown [options]="countries" formControlName="country" placeholder="Select a City" optionLabel="name" class="col-sm-2 col-lg-10" [showClear]="true"></p-dropdown>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-inline">
              <label class="col-sm-2 col-lg-2 col-form-label" for="name">From</label>
              <p-calendar formControlName="from" [showIcon]="true" class="col-sm-2 col-lg-6"></p-calendar>
            </div>
            <div class="form-inline">
              <label class="col-sm-2 col-lg-2 col-form-label" for="sal">To</label>
              <p-calendar formControlName="to" [showIcon]="true" class="col-sm-2 col-lg-6"></p-calendar>
            </div>
          </div>
          <div class="col-sm-2" style="margin-left: -82px;">
            <div class="">
              <p-checkbox name="group1" value="Active" label="Active" formControlName="active" inputId="active"></p-checkbox>
            </div>
            <div class="">
              <p-checkbox name="suspended" value="Suspended" label="Suspended" formControlName="suspended" inputId="suspended"></p-checkbox>
            </div>
          </div>
          <div class="col-sm-2" style="    margin-left: -57px;">
            <div class="">
               <p-checkbox name="implemented" value="Implemented" label="Implemented" formControlName="implemented"  inputId="Implemented"></p-checkbox>
            </div>
            <div class="">
              <p-checkbox name="group1" value="Reversed" label="Reversed" formControlName="reversed" inputId="reversed"></p-checkbox>
            </div>
          </div>
          <div class="col-sm-2 col-lg-6" style="margin-left: 60px">
            <button pButton type="submit" label="Search" class="ui-button-raised"></button>
            <button style="margin-left: 20px" pButton type="reset" label="Cancel" class="ui-button-danger" (click)="cancelForm()"></button>
            <!--</div>-->
          </div>
        </div>
        <div class="form-inline ButtonSearch">
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Record</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseHandled()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createRecord" (ngSubmit)="createData()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text"
                   id="createName"
                   name="createName"
                   formControlName="name"
                   class="form-control">
          </div>
          <div class="form-group">
            <label for="period">Period:</label>
            <input type="text"
                   id="createPeriod"
                   name="createPeriod"
                   formControlName="period"
                   class="form-control">
          </div>
          <div class="form-group">
            <label for="state">State:</label>
            <input type="text"
                   id="createState"
                   name="createState"
                   formControlName="state"
                   class="form-control">
          </div>
          <div class="form-group">
            <label for="userName">User Name:</label>
            <input type="text"
                   id="createUserName"
                   name="createUserName"
                   formControlName="userName"
                   class="form-control">
          </div>
          <div class="form-group">
            <label for="modification">Modification:</label>
            <input type="text"
                   id="createModification"
                   name="createModification"
                   formControlName="modification"
                   class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCloseHandled()">Close</button>
      </div>
    </div>
  </div>
</div>

<!--<input type="checkbox">-->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10
                col-sm-offset-1 col-md-offset-2" style="margin-left: 100px" *ngIf="students?.length">
  <div class="button-view">
    <button type="button" (click)="showDialog()" pButton icon="" label="New"></button>
    <button type="button"  pButton icon="" label="View"></button>
    <button type="button"  pButton icon="" label="DRR"></button>
  </div>
<p-dataTable [value]="students" [paginator]="true" [rows]="5" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" #dt>
  <p-column field="name" header="Name" [sortable]="true" [filter]="true"></p-column>
  <p-column field="period" header="Period" [sortable]="true" [filter]="true"></p-column>
  <p-column field="state" header="State" [sortable]="true" [filter]="true" filterMatchMode="equals">
    <ng-template pTemplate="filter">
      <p-dropdown [options]="students" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
    </ng-template>
  </p-column>
  <p-column field="userName" header="UserName" [sortable]="true" [filter]="true"></p-column>
  <p-column field="modification" header="Modification" [sortable]="true" [filter]="true"></p-column>
  <p-column field="options" header="Options">
    <ng-template let-h="rowData" pTemplate="body">
      <button class="ui-button-danger" type="button"  pButton (click)="editData(row)" icon="fa-remove"></button>
    </ng-template>
  </p-column>
</p-dataTable>
</div>
<p-dialog header="Add Subscription" [(visible)]="displays" [modal]="true" [responsive]="true" [width]="1000" [height]="1000"  [minWidth]="200" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000">
  <form [formGroup]="createRecord" (ngSubmit)="createData()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text"
             id="name"
             name="name"
             formControlName="name"
             class="form-control">
    </div>
    <div class="form-group">
      <label for="period">Period:</label>
      <input type="text"
             id="period"
             name="period"
             formControlName="period"
             class="form-control">
    </div>
    <div class="form-group">
      <label for="state">State:</label>
      <input type="text"
             id="state"
             name="state"
             formControlName="state"
             class="form-control">
    </div>
    <div class="form-group">
      <label for="userName">User Name:</label>
      <input type="text"
             id="userName"
             name="userName"
             formControlName="userName"
             class="form-control">
    </div>
    <div class="form-group">
      <label for="modification">Modification:</label>
      <input type="text"
             id="modification"
             name="modification"
             formControlName="modification"
             class="form-control">
    </div>
    <!--<button type="submit" class="btn btn-primary">Save changes</button>-->

  <p-footer>
    <button type="submit" pButton icon="pi pi-close" class="ui-button-secondary" label="Save Changes"></button>
    <button type="button" pButton icon="pi pi-close" (click)="onCloseHandled()" label="Cancel" class="ui-button-secondary"></button>
  </p-footer>
  </form>
</p-dialog>
